<html>

<head>
    <title>Loginpage</title>
</head>

<body>
    <div id="frm">
        <form>
            <p>
            UserName :<input type='text' name="uername" [(ngModel)]="username">
        </p>
            <p>
            Password : <input type='password' name="password" [(ngModel)]="password">
        </p>
            <div id="btn">
                <button (click)='validatelogin()'>Login</button>
            </div>
    
        </form>
        <td *ngIf='validateCredentials'>{{errorMsg}}</td>
    </div>
</body>

</html>